<template name="checkin">
  {{> nav}}

  <div class="container content">
    {{#if habits.count}}
      <h1>Continue your habits!</h1>
      {{#each habits}}
        {{#unless within24hours lastUpdated}}
          {{> checkinhabit}}
        {{/unless}}
      {{/each}}
    {{else}}
      <img class="checkin-check" src="/img/check.png">
      <h1 class="checkin-good-title">Looks good!</h1>
      <p class="checkin-good-subtitle">All set for now!</p>
    {{/if}}
  </div>

  {{> footer}}
</template>

<template name="checkinhabit">
  <div class="clearfix">
    <img class="checkin-image" src="/img/rating.png">
    <h3 class="checkin-title">Did you {{lowercase title}}?</h3>
    <div class="checkin-button-group btn-group">
      <button type="button" class="btn-primary checkin-button">Yes</button>
      <button type="button" class="btn-danger checkin-button">No</button>
      <button type="button" class="btn-default checkin-button">Maybe</button>
    </div>
  </div>
</template>
